<main style="background: saddlebrown url('Background.jpg') fixed">
    <section id="main_content">
        <div id="monster_selector">
            <mat-form-field id="monster_select" appearance="outline">
                <mat-label>Monster</mat-label>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="select_monster($event.option.value)">
                    @for (monster of filtered_monsters | async; track monster) {
                        <mat-option [value]="monster">{{monster}}</mat-option>
                    }
                </mat-autocomplete>
                <input matInput id="monster_select_input" type="text" placeholder="Select Monster" [matAutocomplete]="auto"
                       [formControl]="monster_select"
                       (focusin)="clear_input()">
            </mat-form-field>
            <mat-checkbox (change)="toggle_wounded_parts($event.checked)">Wounded Parts</mat-checkbox>
        </div>
        <span id="monster_name">
            <img ngSrc="{{'monster-images/' + selected_monster.name + '.png'}}"
                 onerror="this.src='monster-images/Question Mark.png'"
                 height="48" width="48" alt="Monster Image" priority>
            <h3 [innerText]="selected_monster.name"></h3>
        </span>
        <div id="monster_data">
            <mat-table id="hitzone_values" matSort [dataSource]="data_source">
                <ng-container matColumnDef="part_name" sticky>
                    <th id="part_name_header" mat-header-cell mat-sort-header *matHeaderCellDef>Part</th>
                    <td mat-cell *matCellDef="let hitzone">
                        <span class="centered-span" style="justify-content: left">
                            {{hitzone.part_name}}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="state">
                    <th id="state_header" mat-header-cell mat-sort-header *matHeaderCellDef>State</th>
                    <td mat-cell *matCellDef="let hitzone">
                        <span class="centered-span" style="justify-content: left">
                            {{hitzone.state}}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="sever">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/sever.png" height="32" width="32" alt="Sever Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone">
                        <span class="centered-span">
                            <span [ngClass]="{'bold': hitzone.sever >= 45}">{{hitzone.sever}}</span>
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts" [ngClass]="{'bold': (selected_monster.wounded_hitzones.get(hitzone.part_name)?.sever ?? 0) >= 45}">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.sever}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="blunt">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/blunt.png" height="32" width="32" alt="Blunt Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone">
                        <span class="centered-span">
                            <span [ngClass]="{'bold': hitzone.blunt >= 45}">{{hitzone.blunt}}</span>
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts" [ngClass]="{'bold': (selected_monster.wounded_hitzones.get(hitzone.part_name)?.blunt ?? 0) >= 45}">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.blunt}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ammo">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/ammo.png" height="32" width="32" alt="Ammo Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone">
                        <span class="centered-span">
                            <span [ngClass]="{'bold': hitzone.ammo >= 45}">{{hitzone.ammo}}</span>
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts" [ngClass]="{'bold': (selected_monster.wounded_hitzones.get(hitzone.part_name)?.ammo ?? 0) >= 45}">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.ammo}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fire">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/fire.png" height="32" width="32" alt="Fire Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone" [ngStyle]="{'background': get_element_color('fire', hitzone.fire), 'color': hitzone.fire >= 25 ? 'white' : 'black'}">
                        <span class="centered-span">
                            {{hitzone.fire}}
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.fire}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="water">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/water.png" height="32" width="32" alt="Water Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone" [ngStyle]="{'background': get_element_color('water', hitzone.water), 'color': hitzone.water >= 25 ? 'white' : 'black'}">
                        <span class="centered-span">
                            {{hitzone.water}}
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.water}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="thunder">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/thunder.png" height="32" width="32" alt="Thunder Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone" [ngStyle]="{'background': get_element_color('thunder', hitzone.thunder), 'color': hitzone.thunder >= 25 ? 'white' : 'black'}">
                        <span class="centered-span">
                            {{hitzone.thunder}}
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.thunder}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ice">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/ice.png" height="32" width="32" alt="Ice Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone" [ngStyle]="{'background': get_element_color('ice', hitzone.ice), 'color': hitzone.ice >= 25 ? 'white' : 'black'}">
                        <span class="centered-span">
                            {{hitzone.ice}}
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.ice}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="dragon">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/dragon.png" height="32" width="32" alt="Dragon Hitzone">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone" [ngStyle]="{'background': get_element_color('dragon', hitzone.dragon), 'color': hitzone.dragon >= 25 ? 'white' : 'black'}">
                        <span class="centered-span">
                            {{hitzone.dragon}}
                            <span class="wounded_hitzone_value" *ngIf="show_wounded_parts">
                                {{selected_monster.wounded_hitzones.get(hitzone.part_name)?.dragon}}
                            </span>
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="stun">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="damage-types/stun.png" height="32" width="32" alt="Stun">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone">
                        <span class="centered-span">
                            {{hitzone.stun}}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="kinsect_extract">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>
                        <span class="centered-span">
                            <img ngSrc="kinsect_extracts/kinsect_extract.png" height="32" width="32" alt="Kinsect Extract">
                        </span>
                    </th>
                    <td mat-cell *matCellDef="let hitzone">
                        <span class="centered-span">
                            <img ngSrc="{{get_kinsect_extract(hitzone.kinsect_extract)}}" height="32" width="32" alt="Kinsect Extract">
                        </span>
                    </td>
                </ng-container>
                <tr mat-header-row class="table-header" *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></tr>
            </mat-table>
        </div>
    </section>
</main>